<div class="row">
    <div class="col-md-12 text-center">
        <h2 class="text-danger">Sobre</h2>
    </div>
  </div>
  
  
  
  <div class="container mt-4">
  
    <div class="row d-none d-lg-flex align-items-center"> 
      <div class="col-2">
        <p><strong>Turma:</strong> ADS0301M</p>
        <p><strong>Turno:</strong> Manhã</p>
        <p><strong>Unidade:</strong> Bonsucesso</p>
      </div>
      <div class="col-8 text-center">
        <img src="assets/imagem/fotoalisson.jpeg" alt="Foto do Aluno" class="img-fluid mx-auto d-block" style="max-width: 25%;">
      </div>
      <div class="col-2 text-end">
        <p><strong>Nome:</strong> Alisson Luiz Patricio Milhar </p>
      </div>
    </div>
  
  
    <div class="row d-flex d-lg-none">
      <div class="col-4">
        <p><strong>Turma:</strong> ADS0301M</p>
        <p><strong>Turno:</strong> Manhã</p>
        <p><strong>Unidade:</strong> Bonsucesso</p>
      </div>
      <div class="col-5 text-center">
        <p><strong>Nome:</strong> Alisson Luiz Patricio Milhar </p>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <img src="assets/imagem/fotoalisson.jpeg" alt="Foto do Aluno" class="img-fluid mx-auto d-block"> 
      </div>
    </div>
  </div>